{% extends 'base.html' %}

{% block content %}
    <h1>Witaj!</h1>

    <p>Czy jesteś jedną z tych osób, która stoji przed zakupem używanego auta, ale ich wiedza jest znikoma?<br>
       Czy poszukujesz porady eksperta, który podpowie Ci jakie auto w danym budżecie będzie dla Ciebie najlepsze?<br>
        Jeżeli tak - świetnie trafiłeś! Strona na której się znajdujesz działa w prosty, a zarazem praktyczny sposób:<br>
        Ty podajesz kwotę jaką dysponujesz, my polecamy Ci auto ;)<br>
    <br>Jeżeli chcesz zacząć, przejdź do zakładki Generator.</p>
{% endblock %}
