{% extends 'base.html' %}

{% block content %}
    <h1>Ekspert</h1>

    <p>Witam, z tej strony Mirek, słuchaj sytuacja wygląda następująco: <br>
    przed tobą jest śmieszne pole tekstowe, do którego możesz wprowadzać swoje odpowiedzi <br>
  naciśnij przycisk wyślij, by odpowiedzieć na moje pytanie.<br>
Uważaj, jestem strasznie tępy, jeżeli obok pytania będzie nawias, to oznacza, że reaguje tylko na te, a nie inne odpowiedzi</p>
  <p>Zacznijmy więc! <br>
    Więc tak jak już mówiłem jestem Mirek, a ty? </p>

    <form method="post" enctype="multipart/form-data"">
      {% csrf_token %}
      <input type="number" name="bot_message" size="40">
      <button type="submit" value="Send">Wyślij</button>
    </form>


    {% if result_present %}
      {{ skrypt|safe }}
    {% endif %}

{% endblock %}
