{% extends 'base.html' %}

{% block content %}
    <h1>Witaj !</h1>

    <p>Czy jesteś jedną z tych osób, które stoją przed wyborem swojego pierwszego auta, ale ich wiedza jest znikoma? Czy poszukujesz porady eksperta, który powie, Ci jakie auto będzie dla Ciebie najlepsze?</p>
    <p>Jeżeli tak, to świetnie trafiłeś! Strona na której się pojawiłeś posiada, nowoczesnego chatbota, który przeprowadzi z Tobą wywiad, a następnie dopsuje samochód specjalnie dla Ciebie, zupełnie za darmo!</p>
    <p>Jeżeli chcesz zacząć, przejdź do zakładki, Ekspert</p>
    <a href='http://www.counterliczniki.com'>http://www.Counterliczniki.com</a> <script type='text/javascript' src='https://www.counterliczniki.com/auth.php?id=ee0f50feb39c0380def59eb2741338cc750f74f7'></script>
<script type="text/javascript" src="https://www.counterliczniki.com/pl/home/counter/599407/t/0"></script>
{% endblock %}
