{% extends 'base.html' %}

{% block content %}
    <h1>Witaj !</h1>

    <p>Czy jesteś jedną z tych osób, które stoją przed wyborem swojego pierwszego auta, ale ich wiedza jest znikoma? Czy poszukujesz porady eksperta, który powie, Ci jakie auto będzie dla Ciebie najlepsze?
    <br>Jeżeli tak, to świetnie trafiłeś! Strona na której się pojawiłeś posiada, nowoczesnego chatbota, który przeprowadzi z Tobą wywiad, a następnie dopsuje samochód specjalnie dla Ciebie, zupełnie za darmo!
    <br>Jeżeli chcesz zacząć, przejdź do zakładki, Ekspert</p>
{% endblock %}
